@font-face {
	font-family: "Helvetica Neue";
	src: url(HelveticaNeue.ttc);
}

@font-face {
	font-family: "Avenir Next";
	src: url(AvenirNext.ttc);
}

	body{
		background-color: black;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: white;
	}

	a:hover {
		text-decoration: none;
		-webkit-text-fill-color: black;
		-webkit-text-stroke-color: white;
		-webkit-text-stroke-width: 1px;
	}

	h2{
		color: white;
		font-family: "Avenir Next";
		margin-top: 40px;
	}

	h3 {
		color: white;
		font-family: "Helvetica Neue";
		font-weight: lighter;
		margin-top: 5px;
		margin-bottom: 30px;
	}

	.sopra {
		margin-top: 0;
		color: white;
		font-size: 45px;
		letter-spacing: 1px;
	}

	#back {
		position: absolute;
		top:5%;
		left: 5%;
		width: 15vw;
		height: 5vh;
		//background-color: black;
	}

	#titolo {
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translate(-50%, 0); 
		width: 25vw;
		height: 5vh;
		//background-color: red;
	}

	#blocco {
		position: absolute;
		top: 18%;
		left: 5%;
		width: 90vw;
		height: 6300px;
		//background-color: blue;
	}

	#intro {
		font-weight: bolder;
		text-align: center;
		margin-top: 2.5vh;
	}

	#outro {
		font-family: "Helvetica Neue";
		font-size: 25px;
		font-weight: lighter;
		text-align: center;
	}