@font-face {
	font-family: "Helvetica Neue";
	src: url(HelveticaNeue.ttc);
}

@font-face {
	font-family: "Avenir Next";
	src: url(AvenirNext.ttc);
}

.titolo {
	font-family: "Avenir Next";
	text-align: center;
	font-weight: medium;
	letter-spacing: 1px;
	color: white;
	margin-top: 40px;
}

body {
	background: url("space.gif") center 33vh repeat;
	background-size: 100%;
	background-position: center center;
	height: 100%;
	width: 100%;
}

nav {
	margin-top: 70px;
	font-size: 100px;
	margin: 40px 15vw;
	font-family: "Avenir Next";
	font-weight: bolder;
}

footer {
	text-align: left;
	letter-spacing: 10px;
	margin-left: 20px;
}


h1 {
	font-size: 45px;
}

p {	
	font-family: "Helvetica Neue";
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 73px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: black;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

table a:hover {
	text-decoration: none;
	color: black;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}

table tr, td{
	width: 50vw;
	height: 22vh;
	text-align: center;
}

table{
	padding-top: 60px;
	margin-right: 1vw;
}